@import "tailwindcss";

@font-face {
    font-family: "pricedown";
    src: url("/public/pricedown.otf");
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'pricedown';
 
}